@media only screen and (max-device-width: 640px) {
  .ads tr.text-muted {
    display: none;
  }
  .ads tr td:nth-child(4) {
    display: none;  /* hide username */
  }
}

.bar .bg-empty {
  background-color: transparent !important;
}

.progress {
  height:25px;
}

.table tr.summary th {
  text-align: right !important;
}
.table th {
  border: inherit;
  padding: 0.75rem;
}
.table tr > th {
  text-align: right !important;
}
.table td {
  border: inherit;
  font-size: 90% !important;
}
.table td.price {
  text-align: right;
}
tr.text-success {
  font-weight: normal;
}

.text-success {
  font-weight: bold;
}

.truncate {
  display: block;
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-header .close {
  padding: 1.2rem 1.2rem !important;
}
.modal-body {
  padding: 0.5rem !important;
}

#header .navbar-brand {
  font-weight: bolder;
  margin-top: -4px;
}
#header .glyphicon {
  margin: 0 5px 0 0;
}
#header button span {
  font-weight: bold;
}

#ad_data h5 {
  font-weight: bolder;
}
#ad_data .input-group-text {
  font-size: 90% !important;
}
#ad_data .btn {
  font-size: 90% !important;
}
#ad_data .card {
  border: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#fav th, #fav td {
  text-align: center;
}
