extends partials/_layout.pug

block login
  a.navbar-brand#online(href="/")
    | @vivab0rg

block content
  .container-fluid
    h5
      i.glyphicon.glyphicon-home
      | &nbsp;
      | SPECIFIC_BANK
    .row.row-cols-2
      .col
        include partials/_market_bid.pug
      .col
        include partials/_market_ask.pug
    hr
    h5
      i.glyphicon.glyphicon-transfer
      | &nbsp;
      | NATIONAL_BANK
    .row.row-cols-2
      .col
        include partials/_market_bid.pug
      .col
        include partials/_market_ask.pug
    hr

    h6.text-center 01/21
    .row.align-items-end.row-cols-2
      .col
        #bids
          .row
            .col-1.d-none.d-sm-inline-block
              span #1
            .col
              span 0.00107 BTC
            .col.text-right
              span 6000 ARS
              br
              small @ 5561889
          .row
            .col-1.d-none.d-sm-inline-block
              span #2
            .col
              span 0.00019 BTC
            .col.text-right
              span 1000 ARS
              br
              small @ 5217028
          .row.bg-success.font-weight-bold
            .col-1.d-none.d-sm-inline-block
              span (2)
            .col
              span 0.00054 BTC
            .col.text-right
              span 81223 ARS
              br
              small @ 5912816
      .col
        #asks
          .row
            .col-1.d-none.d-sm-inline-block
              span #1
            .col
              span 0.00062 BTC
            .col.text-right
              span 4800 ARS
              br
              small @ 7048872
          .row
            .col-1.d-none.d-sm-inline-block
              span #2
            .col
              span 0.00371 BTC
            .col.text-right
              span 26000 ARS
              br
              small @ 6996281
          .row
            .col-1.d-none.d-sm-inline-block
              span #3
            .col
              span 0.00204 BTC
            .col.text-right
              span 26000 ARS
              br
              small @ 6996281
          .row.bg-danger.font-weight-bold
            .col-1.d-none.d-sm-inline-block
              span (3)
            .col
              span 0.00612 BTC
            .col.text-right
              span 9096 ARS
              br
              small @ 6330793
