extends partials/_layout.pug

block login
  .btn.btn-group.btn-group-sm
    button.btn.btn-primary.pr-1(title="@vivab0rg" data-toggle="modal" data-target="#logout")
      i.glyphicon.glyphicon-user.m-0
    button.btn.btn-primary.pl-1(data-toggle="modal" data-target="#notifications")
      i.glyphicon.glyphicon-comment.m-0
      span.ml-1 3

block content
  .container-fluid
    .row.row-cols-2
      .col
        #bids
          .row
            .col
              button.btn.btn-link.refresh
                i.glyphicon.glyphicon-repeat
            .col.text-right
              .maker
                button.btn.btn-sm.btn-outline-success
                  span 500
          .table-responsive
            table.table.table-borderless.table-hover.table-sm
              tbody.ads
                tr
                  include partials/_ad_vivab0rg.pug
                tr
                  include partials/_ad_coinstructor.pug
                tr.table-success(data-toggle="modal" data-target="#market_ad")
                  include partials/_ad_vivab0rg.pug
      .col
        #asks
          .row
            .col
              button.btn.btn-link.refresh
                i.glyphicon.glyphicon-repeat
            .col.text-right
              .maker
                button.btn.btn-sm.btn-outline-danger
                  span 1000
          .table-responsive
            table.table-borderless.table.table-hover.table-sm
              tbody.ads
                tr
                  include partials/_ad_vivab0rg.pug
                tr.table-danger(data-toggle="modal" data-target="#market_ad")
                  include partials/_ad_coinstructor.pug
                tr
                  include partials/_ad_vivab0rg.pug

  .modal#logout
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          h6.modal-title @vivab0rg
          button.close(type="button" data-dismiss="modal")
            small
              i.glyphicon.glyphicon-remove
        .modal-body
          .media
            .media-body
              .text-center
                i.glyphicon.glyphicon-user
              .text-center
                i.glyphicon.glyphicon-gift.text-secondary.mr-1
                span 7 years, 3 months
              .text-center
                span.mr-2 1000+
                i.glyphicon.glyphicon-thumbs-up.text-secondary.mr-1
                span.mr-2 279
                i.glyphicon.glyphicon-thumbs-down.text-secondary.mr-1
                span 3
              .text-center
                i.glyphicon.glyphicon-bitcoin.text-secondary.mr-1
                span 250-500 BTC
        .modal-footer.py-1
          button.btn.btn-primary(type="submit")
            span.glyphicon.glyphicon-ok
            |  Logout
          button.btn.btn-default(type="button" data-dismiss="modal") Close

  .modal#notifications
    .modal-dialog
      .modal-content
        .modal-header
          h6.modal-title Notifications
          button.close(type="button" data-dismiss="modal")
            small
              i.glyphicon.glyphicon-remove
        .modal-body
          .list-group
            a.list-group-item.list-group-item-action.active(href="#")
              .d-flex.w-100.justify-content-between
                strong.mb-1 #78277912
                small.text-muted 2022-05-30
              p.mb-1 You have recently traded with Charlottee0406. Please leave feedback about your experience!
            a.list-group-item.list-group-item-action(href="#")
              .d-flex.w-100.justify-content-between
                strong.mb-1 #78277912
                small.text-muted 2022-05-30
              p.mb-1 Contact #78277912 payment marked complete
            a.list-group-item.list-group-item-action(href="#")
              .d-flex.w-100.justify-content-between
                strong.mb-1 #78277912
                small.text-muted 2022-05-30
              p.mb-1 Trade #78277912 new message from Charlottee0406
            a.list-group-item.list-group-item-action(href="#")
              .d-flex.w-100.justify-content-between
                strong.mb-1 #78277912
                small.text-muted 2022-05-30
              p.mb-1 You have a new offer #78277912!
        .modal-footer.py-1
          button.btn.btn-primary.reload
            i.glyphicon.glyphicon-refresh
          button.btn.btn-default(type="button" data-dismiss="modal") Close

  .modal#market_ad
    .modal-dialog.modal-dialog-scrollable
      .modal-content
        .modal-header
          h6.modal-title Bid #214021
          button.close(type="button" data-dismiss="modal")
            span &times;
        .modal-body
          ul.nav.nav-tabs
            li.nav-item
              a.nav-link.active(data-toggle="tab" href="#ad_data")
                | Sell
            li.nav-item
              a.nav-link(data-toggle="tab" href="#price")
                | Spot
                span.glyphicon.glyphicon-screenshot.ml-2
            li.nav-item
              a.nav-link(data-toggle="tab" href="#maker")
                | Bot
                span.glyphicon.glyphicon-flash.ml-2
          .tab-content.px-3.py-2
            .tab-pane.active#ad_data
              span.text-muted CASH_AT_ATM
              include partials/_market_bid.pug
              form.form-inline
                .input-group(style="width:50%;")
                  .input-group-prepend
                    .input-group-text ARS
                  input.form-control(type="text" placeholder="100")
                button.btn.btn-link.ml-2.pl-2.pr-1 Min.
                button.btn.btn-link.pl-1.pr-2 Max.
                button.btn.btn-danger.ml-2(type="submit") Sell
              button.btn.btn-link(data-toggle="collapse" data-target="#terms")
                | Terms ...
              .collapse#terms
                .card.card-body.small
                  | Solo comercio con titular de la cuenta, NO ACEPTO PAGO DE TERCEROS.\nUna vez finalizado el pago me mandas una captura del pago realizado y te libero los BTC.\nSI QUERES VENDERME: https://localbitcoins.com/ad/1192789/liquidar-sus-bitcoins-uala-brubank-mercadopago-qr-correo\n\nBRUBANK\nCBU: 1430001713007895950014\nNº de cuenta: 1300789595001\nAlias: emilianoalonso\n\nMERCADO PAGO\nemi_agus_alonso@hotmail.com\n\n¡Cualquier cosa consultame, estoy para vos!\n+541139010806
            .tab-pane#price
              form
                input(name="ad_id" type="hidden" value="")
                input(name="currency" type="hidden" value="ARS")
                .form-row
                  .form-group.col-6
                    label ARS
                    input.form-control(name="target_price" type="number" step=".01")
                  .form-group.col-6
                    label.usd_in USD_in ARS
                    input.form-control(name="usd_in" type="number" placeholder="0.00")
                    small.form-text.invisible.equation_url
                      a(href="" target="_blank") https://localbitcoins.com/equation/
                .form-group.d-none.d-sm-block
                  label Equation
                  input.form-control(name="price_equation" type="text")
                .form-group
                  label My Ad
                  select.custom-select(name="mixed" disabled="disabled")
                .form-row
                  .form-group.col-6
                    label Min. Amount
                    input.form-control(name="min_amount" type="number" step=".1")
                  .form-group.col-6
                    label Max. Amount
                    input.form-control(name="max_amount" type="number" step=".1")
                .form-row
                  .form-group.col-6
                    .form-check
                      input.form-check-input(name="visible" type="checkbox" checked="checked")
                      label.form-check-label Enable
                  .form-group.col-6
                    .form-check
                      input.form-check-input(name="max_min" type="checkbox")
                      label.form-check-label Max. min. amount
            .tab-pane#maker
              form
                input(name="rev" type="hidden" value="")
                input(name="ad_id" type="hidden" value="")
                input(name="trade_type" type="hidden" value="")
                .form-row
                  .form-group.col-6
                    label Min. limit
                    input.form-control(name="min_amount" type="number" disabled="disabled" placeholder="")
                    small.form-text.text-muted -1 = beat them all
                  .form-group.col-6
                    label Stop loss
                    input.form-control(name="stop_loss" type="number" disabled="disabled" placeholder="")
                .form-row
                  .form-group.col-6
                    .form-check
                      input.form-check-input(name="is_beat" type="checkbox" disabled="disabled")
                      label.form-check-label Enable
                  .form-group.col-6
                    .form-check
                      input.form-check-input(name="is_max_min" type="checkbox")
                      label.form-check-label Max. min. amount
        .modal-footer.py-1
          button.btn.btn-primary(type="submit")
            i.glyphicon.glyphicon-ok
            |  Submit
          button.btn.btn-default(type="button" data-dismiss="modal") Close

  .modal#filters
    .modal-dialog
      .modal-content
        form
          .modal-header
            h6.modal-title Market filters for ARS
            button.close(type="button" data-dismiss="modal")
              small
                i.glyphicon.glyphicon-remove
          .modal-body
            fieldset.form-group.px-3.py-2
              .row
                legend.col-4.col-form-label.text-right.pt-0 online_provider
                .col-8
                  .form-check
                    input.form-check-input(type="checkbox" name="online_provider" value="CASH_DEPOSIT" checked="checked")
                    label.form-check-label CASH_DEPOSIT
                  .form-check
                    input.form-check-input(type="checkbox" name="online_provider" value="CREDITCARD")
                    label.form-check-label CREDITCARD
                  .form-check
                    input.form-check-input(type="checkbox" name="online_provider" value="NATIONAL_BANK" checked="checked")
                    label.form-check-label NATIONAL_BANK
                  .form-check
                    input.form-check-input(type="checkbox" name="online_provider" value="SPECIFIC_BANK")
                    label.form-check-label SPECIFIC_BANK
                  .form-check
                    input.form-check-input(type="checkbox" name="online_provider" value="OTHER")
                    label.form-check-label OTHER
            .form-group.row
              label.col-4.col-form-label.text-right bank_name
              .col-8
                .input-group(style="width:95%;")
                  .input-group-prepend
                    .input-group-text
                      small
                        i.glyphicon.glyphicon-tag
                  input.form-control(name="bank_name" type="text" placeholder="")
          .modal-footer.py-1
            button.btn.btn-primary(type="submit")
              span.glyphicon.glyphicon-ok
              |  Submit
            button.btn.btn-default(type="button" data-dismiss="modal") Close

  .modal#my_ads
    .modal-dialog
      .modal-content
        .modal-header
          h6.modal-title My Ads
          button.close(type="button" data-dismiss="modal")
            small
              i.glyphicon.glyphicon-remove
        .modal-body
          form
            select.custom-select(name="currency")
              option(value="ARS" selected="selected") ARS - Argentine Peso
              option(value="BOB") BOB - Bolivian Boliviano
              option(value="BRL") BRL - Brazilian Real
              option(value="COP") COP - Colombian Peso
              option(value="CLP") CLP - Chilean Peso
              option(value="ETH") ETH - Ethereum
              option(value="EUR") EUR - Euro
              option(value="GBP") GBP - British Pound
              option(value="PAB") PAB - Panamanian Balboa
              option(value="PEN") PEN - Peruvian Sol
              option(value="PYG") PYG - Paraguayan Guarani
              option(value="RUB") RUB - Russian Ruble
              option(value="USD") USD - US Dollar
              option(value="UYU") UYU - Uruguayan Peso
              option(value="VES") VES - Venezuelan Bolívar
              option(value="XLM") XLM - Stellar
              option(value="XMR") XMR - Monero
          ul.nav.nav-tabs.pt-2
            li.nav-item
              a.nav-link.active(data-toggle="tab" href="#ads_all")
                | All
            li.nav-item
              a.nav-link(data-toggle="tab" href="#ads_bids")
                | Bids
                i.glyphicon.glyphicon-import.ml-2
            li.nav-item
              a.nav-link(data-toggle="tab" href="#ads_asks")
                | Asks
                i.glyphicon.glyphicon-export.ml-2
          .tab-content.px-3.py-2
            .tab-pane.active#ads_all
            .tab-pane#ads_bids
            .tab-pane#ads_asks
        .modal-footer.py-1
          button.btn.btn-primary.reload
            i.glyphicon.glyphicon-refresh
          button.btn.btn-default(type="button" data-dismiss="modal") Close

  nav.navbar.fixed-bottom.justify-content-center
    .btn-toolbar#bar
      .btn-group.btn-sm
        button.btn.btn-secondary(data-toggle="modal" data-target="#filters")
          i.glyphicon.glyphicon-filter
        button.refresh.btn.btn-secondary
          i.glyphicon.glyphicon-refresh
      .btn-group
        button.btn.btn-info(data-toggle="modal" data-target="#my_ads")
          | ARS
      .btn-group.btn-sm
        button#start.btn.btn-secondary
          i.glyphicon.glyphicon-play
        button#shutdown.btn.btn-secondary
          i.glyphicon.glyphicon-off

  #toasts(class="position: relative;")
    .toast(style="position: absolute; top: 5px; right: 5px;")
      .toast-header
        strong.mr-auto #66056647
        small 2020-10-03
      .toast-body
        small You have a new offer #66056647!

block javascript
  script(src="/js/markets.js")
