td.d-none.d-sm-inline-block
  i.d-none.d-sm-block.glyphicon.glyphicon-transfer
td.d-none.d-sm-inline-block
  i.d-none.d-lg-block.glyphicon.glyphicon-eye-open
td.d-none.d-sm-inline-block
  i.d-none.d-lg-block.glyphicon.glyphicon-phone
td
  span.text-truncate.d-none.d-lg-block
    | vivab0rg (1000+; 100%)
  span.text-truncate.d-none.d-sm-block.d-md-none
    | vivab0rg
td
  | 500~300K
td.price
  | 2072054.13
