extends _layout.pug

block content
  .container
    h1 Behold a great idea

    .table-responsive
      table.table.table-sm
        thead.thead-dark
          th key
          th name
          th value
          th extra
        tbody
          tr
            th key
            td name
            td.table-success value
            td extra
          tr
            th key
            td.table-secondary name
            td value
            td.table-danger extra

    .modal#stuff
      .modal-dialog
        form
          .modal-content
            .modal-header
              h6.modal-title Add Good Stuff
              button.close(type="close",data-dismiss="modal")
                span &times;
            .modal-body
              .form-row
                .form-group.col-md-6
                  label Name
                  input.form-control(type="text",placeholder="SYMBOL")
                .form-group.col-md-6
                  label Value
                  input.form-control(type="number")
              .form-group
                label Comment
                input.form-control(type="text")
              p Notice the good stuff here.
            .modal-footer
              button.btn.btn-secondary.btn-sm(type="button",data-dismiss="modal") Cancel
              button.btn.btn-primary.btn-sm(type="submit") Execute

    form
      .form-group
        label Name
        select.form-control
          option name
          option name
          option name
      .form-group
        label Value
        input.form-control(type="number")

    button.btn.btn-primary.btn-sm(data-toggle="modal",data-target="#stuff")
      | Pop stuff

//- vim: foldlevel=3 filetype=slim
