extends _layout.pug

block content
  .container#positions
    ul.nav.nav-tabs.mt-2.mb-3
      li.nav-item
        a.nav-link.active(href="#open" data-toggle="tab")
          i.glyphicon.glyphicon-stats.mr-1
          small Open
      li.nav-item
        a.nav-link(href="#closed" data-toggle="tab")
          i.glyphicon.glyphicon-lock.mr-1
          small Closed

    .tab-content
      .tab-pane#open.active
        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge
                        | 20/08
                      span.badge.badge-primary
                        | BTC
                      span.badge.badge-secondary
                        | ETH
                  td.text-center(width="20%")
                    .small.text-secondary.font-italic
                      | sample!
                    strong 1.38 ETH
                    .clearfix
                      i.glyphicon.glyphicon-triangle-bottom
                  td.align-middle.text-right(width="40%")
                    small 0.10663857 BTC (2)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:25%;")
              .progress-bar.bg-danger(style="width:25%;") -10%
              .progress-bar(style="width:12.5%;") 5%
              .progress-bar.bg-empty.progress-bar-striped(style="width:37.5%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="40%")
                    small.text-danger
                      | &nbsp; 0,02129625 (-10%) &nbsp;
                  td(width="20%")
                    .btn-group.btn-group-sm
                      button.btn.btn-sm(type="button")
                        i.glyphicon.glyphicon-lock.mr-1
                        | Close
                      button.btn.btn-sm(type="button")
                        i.glyphicon.glyphicon-refresh.mr-1
                        | Update
                  td.align-middle.text-left(width="44%")
                    small.text-info
                      | &nbsp; 0,024845 (5%)

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge
                        | 27/08
                      span.badge.badge-primary
                        | ETH
                      span.badge.badge-secondary
                        | BNB
                  td.text-center(width="20%")
                    strong 7.2749 BNB
                    .clearfix
                      i.glyphicon.glyphicon-triangle-bottom
                  td.align-middle.text-right(width="40%")
                    small 1.38 ETH (2)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:25%;")
              .progress-bar.bg-danger(style="width:25%;") -10%
              .progress-bar(style="width:12.5%;") 5%
              .progress-bar.bg-empty.progress-bar-striped(style="width:37.5%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="40%")
                    small.text-danger
                      | &nbsp; 0,02129625 (-10%) &nbsp;
                  td(width="20%")
                    .btn-group.btn-group-sm
                      button.btn.btn-sm(type="button")
                        i.glyphicon.glyphicon-lock.mr-1
                        | Close
                      button.btn.btn-sm(type="button")
                        i.glyphicon.glyphicon-refresh.mr-1
                        | Update
                  td.align-middle.text-left(width="40%")
                    small.text-info
                      | &nbsp; 0,024845 (5%)

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge
                        | 09/09
                      span.badge.badge-primary
                        | BTC
                      span.badge.badge-secondary
                        | DAI
                  td.text-center(width="20%")
                    .small.text-secondary.font-italic
                      | sample!
                    strong 1226.62 DAI
                    .clearfix
                      i.glyphicon.glyphicon-triangle-bottom
                  td.align-middle.text-right(width="40%")
                    small 0.0584 BTC (1)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:25%;")
              .progress-bar.bg-danger(style="width:12.5%;") -10%
              .progress-bar(style="width:12.5%;") -5%
              .progress-bar.bg-empty.progress-bar-striped(style="width:50%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="40%")
                    small.text-danger
                      | &nbsp; 0,02129625 (-10%) &nbsp;
                    small.text-info
                      | &nbsp; 0,022479 (-5%) &nbsp;
                  td(width="20%")
                    .btn-group.btn-group-sm
                      button.btn.btn-sm(type="button")
                        i.glyphicon.glyphicon-trash.mr-1
                        | Remove
                  td.align-middle.text-left(width="40%")

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge
                        | 13/09
                      span.badge.badge-primary
                        | DAI
                      span.badge.badge-secondary
                        | BTC
                  td.text-center(width="20%")
                    strong 0.04781427 BTC
                    .clearfix
                      i.glyphicon.glyphicon-triangle-bottom
                  td.align-middle.text-right(width="40%")
                    small 1000 DAI (1)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:12.5%;")
              .progress-bar(style="width:12.5%;") -15%
              .progress-bar.bg-danger(style="width:25%;") -10%
              .progress-bar.bg-empty.progress-bar-striped(style="width:50%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="40%")
                    small.text-info
                      | &nbsp; 0,02011312 (-15%) &nbsp;
                    small.text-danger
                      | &nbsp; 0,02129625 (-10%) &nbsp;
                  td(width="20%")
                    .btn-group.btn-group-sm
                      button.btn.btn-sm(type="button")
                        i.glyphicon.glyphicon-trash.mr-1
                        | Remove
                  td.align-middle.text-left(width="40%")

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge
                        | 11/06
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                  td.text-center(width="20%")
                    strong 0.0236624 COUNTER
                    .clearfix
                      i.glyphicon.glyphicon-triangle-bottom
                  td.align-middle.text-right(width="40%")
                    small 275 BASE (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped.progress-bar-animated(style="width:100%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.glyphicon.glyphicon-stop.mr-1
                      | Stop
                  td.align-middle.text-left(width="45%")

      .tab-pane#closed
        .filters
          span.badge.badge-light
            | BASE
          span.badge.badge-light
            | BASE
          span.badge.badge-light
            | BASE
          span.badge.badge-dark
            | BASE
          span.badge.badge-dark
            | BASE
          i.fa.fa-times-circle
        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge
                        | 25/07
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                  td.text-center(width="20%")
                    strong 0.0236621 COUNTER
                    .clearfix
                      i.glyphicon.glyphicon-triangle-bottom
                  td.align-middle.text-right(width="40%")
                    small 275 BASE (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:37.5%;")
              .progress-bar(style="width:12.5%;") -5%
              .progress-bar.bg-success(style="width:25%;") 10%
              .progress-bar.bg-empty.progress-bar-striped(style="width:25%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                    small.text-info
                      | &nbsp; 0,022479 (-5%) &nbsp;
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.glyphicon.glyphicon-lock.mr-1
                      | Close
                  td.align-middle.text-left(width="45%")
                    small.text-success
                      | &nbsp; 0,02602875 (10%) &nbsp;

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge
                        | 25/07
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                  td.text-center(width="20%")
                    strong 0.0236622 COUNTER
                    .clearfix
                      i.glyphicon.glyphicon-triangle-bottom
                  td.align-middle.text-right(width="40%")
                    small 275 BASE (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:50%;")
              .progress-bar(style="width:12.5%;") 5%
              .progress-bar.bg-success(style="width:12.5%;") 10%
              .progress-bar.bg-empty.progress-bar-striped(style="width:25%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.glyphicon.glyphicon-lock.mr-1
                      | Close
                  td.align-middle.text-left(width="45%")
                    small.text-info
                      | &nbsp; 0,024845 (5%) &nbsp;
                    small.text-success
                      | &nbsp; 0,02602875 (10%) &nbsp;

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge
                        | 25/07
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                  td.text-center(width="20%")
                    strong 0.0236623 COUNTER
                    .clearfix
                      i.glyphicon.glyphicon-triangle-bottom
                  td.align-middle.text-right(width="40%")
                    small 275 BASE (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:50%;")
              .progress-bar.bg-success(style="width:25%;") 15%
              .progress-bar(style="width:12.5%;") 10%
              .progress-bar.bg-empty.progress-bar-striped(style="width:12.5%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.glyphicon.glyphicon-lock.mr-1
                      | Close
                  td.align-middle.text-left(width="45%")
                    small.text-success
                      | &nbsp; 0,02602875 (10%) &nbsp;
                    small.text-info
                      | &nbsp; 0,027211875 (15%) &nbsp;

//- vim: list foldlevel=2
