extends _layout.pug

block content
  .container
    .jumbotron
      | Choose your destiny:
    .list-group
      a.list-group-item.list-group-item-action(href="/bfc/home") bfc
      a.list-group-item.list-group-item-action(href="/moonfolio/home") moonfolio
      a.list-group-item.list-group-item-action(href="/stack/home") stack

//- vim: nofoldenable filetype=slim
